<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInfoServlet</servlet-name>
        <servlet-class>servlet.getInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveServlet</servlet-name>
        <servlet-class>servlet.SaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>servlet.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePicServlet</servlet-name>
        <servlet-class>servlet.SavePicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneServlet</servlet-name>
        <servlet-class>servlet.PhoneServlet</servlet-class>
    </servlet>






    <servlet-mapping>
        <servlet-name>PhoneServlet</servlet-name>
        <url-pattern>/servlet/PhoneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePicServlet</servlet-name>
        <url-pattern>/servlet/SavePicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/servlet/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/servlet/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/servlet/SaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/servlet/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInfoServlet</servlet-name>
        <url-pattern>/servlet/getInfoServlet</url-pattern>
    </servlet-mapping>
</web-app>